<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/lightbox.min.css">



<div class="portfolio">

    <h2 class="m-b">Portfolio</h2>
    <div class="card">
        <a href="./img/flr.JPG" data-lightbox="portfolio" data-title="">
        <img src="./img/flr.JPG" alt="" class="img-fluid"></a>
        <div class="card-container">
                <h3> Full Frame-Photography Techniques | September 2019</h3>
            
        </div>

    </div>

    <div class="card">
        <a href="./img/hut.JPG" data-lightbox="portfolio" data-title="" class="center">
        <img src="./img/hut.JPG" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3> Lines in Environment-Photography Techniques | December 2019</h3>

        </div>

    </div>

    <div class="card">
        <a href="./img/berries.JPG" data-lightbox="portfolio" data-title="">
        <img src="./img/berries.JPG" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3> Focus nature-Photography Techniques | November 2019</h3>
          
        </div>

    </div>

    <div class="card">
        <a href="./img/btrfly.JPG" data-lightbox="portfolio" data-title="">
        <img src="./img/btrfly.JPG" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3> Studio Lighting- Photography Techniques Hybrid | October 2019</h3>
           
        </div>

    </div>
    
        <div class="card">
        <a href="./img/IMG_2301.JPG" data-lightbox="portfolio" data-title="">
        <img src="./img/IMG_2301.JPG" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Rule of Thirds-Photography Techniques | November 2019</h3>
         
        </div>

    </div>
    
    
        <div class="card">
        <a href="./img/ducks.JPG" data-lightbox="portfolio" data-title="">
        <img src="./img/ducks.JPG" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3> Autumn Hays -Photography Techniques | October 2019</h3>
           
        </div>

   

    </div>


</div>
